.menu {
  text-decoration: none;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__list_gorizontal {
  display: flex;
  justify-content: flex-end;
}

.menu__item:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.menu__item_padding-10 {
  padding: 20px;
}