.services {
  width: 100%;
  background-color: var(--bgcolor-medium);
}

.services__inner-wrapper {
  width: 1170px;
  height: 100%;
  margin: 0px auto;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
}