.skills {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 585px 585px 1fr;
  grid-template-rows: 100%;
  background: var(--bgcolor-medium);
  font-family: 'Monserrat';
}

.skills__box {
  grid-column: 2;
  grid-row: 1;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills__img {
  grid-column: 3 / span 2;
  grid-row: 1;
  background: var(--layer-color-light);
  object-fit: cover;
  height: 100%;
  width: 100%;
  
}

.skills__header {
  font-size: 1.875em;
}

.skills__list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.skills__item {
  margin-bottom: 35px;
  font-size: 12px;
  text-transform: uppercase;
}