.order {
  background: var(--bgcolor-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 670px;
}