.header {
  display: grid;
  grid-template-columns: 1fr 170px 1000px 1fr;
  grid-template-rows: 100px 1fr;
  background: var(--bgcolor-medium);
}

.header__logo {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__menu {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Monserrat';
  font-weight: 800;
  color: var(--text-dark-color);
}

.header__banner {
  grid-column: 3;
  grid-row: 2;
  width: 480px;
  justify-self: flex-end;
  margin-top: 100px;
}